---
import LogListDisplay from '../../components/LogListDisplay.astro';
import TagSelector from '../../components/TagSelector.astro';
import Basic from '../../layouts/Basic.astro';

import { getAllLogs } from '../../utils/log-data';
const logs = await getAllLogs();
---

<Basic>
  <div class='flex flex-col gap-4'>
    <TagSelector activeTag='all' />
    <LogListDisplay logs={logs} />
  </div>
</Basic>
