{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
