---
import '../../styles/dex/theme.css';
import '../../styles/dex/pdf.css';

import { type CollectionEntry, render } from 'astro:content';

type Props = {
	deck: CollectionEntry<'dex'>;
};
const { deck } = Astro.props;
const { Content, headings } = await render(deck);
---
<div class="deck-container pdf">
  <Content/>
</div>