@media print {
  @page {
    size: 1920px 1080px;
    margin: 0;
  }
  html, body {
    width: 1920px !important;
    height: 1080px !important;
    margin: 0;
    padding: 0;
  }
	body * {
		visibility: hidden !important;
	}
	.deck-container.pdf,
	.deck-container.pdf * {
		visibility: visible !important;
	}
	.deck-container.pdf {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.slide {
		width: 100%;
		height: 100vh;
		background-color: cadetblue;
		aspect-ratio: 16 / 9;
		padding: 2rem;

		break-after: page;
		break-inside: avoid;
		box-sizing: border-box;
	}
	.slide:last-child {
		break-after: auto;
	}
}
