::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: rgb(var(--color-transparent));
}

::-webkit-scrollbar-thumb {
	background: rgb(var(--neutral-400));
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(var(--neutral-500));
}

html.dark ::-webkit-scrollbar-thumb {
	background: rgb(var(--neutral-600));
	border-radius: 4px;
}

html.dark ::-webkit-scrollbar-thumb:hover {
	background: rgb(var(--neutral-500));
}
