---
import Basic from '../layouts/Basic.astro';
---

<Basic>
  <article>
    <h1>404</h1>
    <p>
      The page you requested was not found.<br />
      Please return to another page from the menu.
    </p>
  </article>
</Basic>
