---
import Basic from '../layouts/Basic.astro';
import LogPreview from '../components/LogPreview.astro';
import { SITE_TITLE } from '../consts';
---

<Basic>
  <section>
    <h1>Welcome to {SITE_TITLE}</h1>
    <p>
      Here you will find the main landing page soon. Below you can see the first
      five entries into the log section.
    </p>
    <LogPreview limit={5} />
  </section>
</Basic>
