---
import Link from './Link.astro';
import DarkToggle from './react/DarkToggle';
import { SITE_TITLE, GITHUB_URL } from '../consts';
import { collections } from '../content.config';

const collectionsList = Object.keys(collections);
---

<header
  class='fixed left-0 top-0 h-16 w-full border-b border-neutral-600 bg-neutral-200 p-4 dark:bg-neutral-900'
>
  <nav class='flex h-full w-full flex-row items-center justify-between gap-4'>
    <Link href='/' data-info='icon' class='flex'>{SITE_TITLE}</Link>
    <div data-info='controls' class='flex flex-row items-center gap-4'>
      {
        collectionsList.map((collection) => (
          <Link href={`/${collection}/`} class='flex'>
            {collection}
          </Link>
        ))
      }
      <Link href='/download/'>download</Link>
      <Link href={GITHUB_URL}>github</Link>
      <DarkToggle client:idle />
    </div>
  </nav>
</header>
<div data-info='header-spacer' class='h-16'></div>
