---
import Tag from './Tag.astro';
import Link from './Link.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import { lowercaseTitles } from '../consts';

interface Props {
  limit?: number;
}

const { limit } = Astro.props as Props;
const preview = (await getCollection('log')).sort(
  (a, b) => b.data.created.valueOf() - a.data.created.valueOf(),
);
if (limit && preview.length > limit) {
  preview.splice(limit);
}
---

<section>
  <div class='flex flex-col gap-y-2'>
    {
      preview.map((post) => (
        <div class='flex flex-row flex-wrap gap-x-4 gap-y-2'>
          <FormattedDate date={post.data.created} />
          <Link href={`/log/${post.id}/`}>
            <div class='title text-ellipsis'>
              {lowercaseTitles
                ? post.data.title.toLowerCase()
                : post.data.title}
            </div>
          </Link>
          <div class='flex w-full flex-row gap-x-2 md:w-fit'>
            {post.data.tags?.map((tag) => (
              <Tag name={tag} />
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
