---
import Link from './Link.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

interface Props {
  limit?: number;
}

const { limit } = Astro.props as Props;
const preview = (await getCollection('log')).sort(
  (a, b) => b.data.created.valueOf() - a.data.created.valueOf(),
);
if (limit && preview.length > limit) {
  preview.splice(limit);
}
---

<section>
  <div>
    {
      preview.map((post) => (
        <div class='flex flex-row gap-4 truncate'>
          <FormattedDate date={post.data.created} />
          <Link href={`/log/${post.id}/`}>
            <div class='title text-ellipsis'>{post.data.title}</div>
          </Link>
        </div>
      ))
    }
  </div>
</section>
