---
import '../styles/markdown/misc.css';
import '../styles/markdown/list.css';
import '../styles/markdown/table.css';
import '../styles/markdown/inputs.css';
import '../styles/markdown/tasklist.css';
import '../styles/markdown/footnotes.css';
---

<div data-markdown-content class='flex flex-col gap-4'>
  <slot />
</div>
