---
interface Props {
  name: string;
  active?: boolean;
}

const { name, active } = Astro.props as Props;
---

<div
  class={`dark:text-neutral-600 rounded-md px-2 text-neutral-400 inset-ring 
    ${active ? 'bg-neutral-400/20 dark:bg-neutral-600/20' : ''}`}
>
  {name}
</div>
