---

---

<a
  class='dark:text-cynder-500 dark:hover:bg-cynder-500/20 cursor-pointer rounded-md px-2 text-neutral-500 inset-ring hover:bg-neutral-500/20 active:bg-transparent dark:active:bg-transparent'
>
  <slot />
</a>
