---
import TagInteractive from './TagInteractive.astro';
import { getSortedTags } from '../utils/log-data';

interface Props {
  activeTag?: string;
}

const { activeTag } = Astro.props as Props;
const all = await getSortedTags();
---

<section>
  <div class='flex w-full flex-row flex-wrap gap-2 md:w-fit'>
    <TagInteractive name='all' active={activeTag === 'all'} href='/log/' />
    {
      all.map((tag) => (
        <TagInteractive
          name={tag.tag}
          active={activeTag === tag.tag}
          href={`/log/tags/${tag.tag}`}
        />
      ))
    }
  </div>
</section>
