---
import FormattedDate from './FormattedDate.astro';
import { type CollectionEntry } from 'astro:content';
import { render } from 'astro:content';

interface Props {
  id?: string;
  step: CollectionEntry<'roadmap'>;
}

const { step, id } = Astro.props;
const { Content } = await render(step);
---

<div
  id={id}
  class:list={[
    'flex w-full flex-col gap-4 p-4 md:flex-row',
    // { 'bg-mint-500': step.data.status === 'active' },
  ]}
>
  <div
    class:list={[
      'flex w-1/3 flex-col justify-between',
      { 'bg-mint-500': step.data.status === 'active' },
    ]}
  >
    <FormattedDate date={step.data.start} />
    <FormattedDate date={step.data.due} />
  </div>
  <section class='w-full'><Content /></section>
</div>
