---
import { type CollectionEntry } from 'astro:content';
import { render } from 'astro:content';

interface Props {
  step: CollectionEntry<'roadmap'>;
}

const { step } = Astro.props;
const { Content } = await render(step);
---

<section>
  <Content />
</section>
