---
import Basic from '../../layouts/Basic.astro';
import { SITE_TITLE } from '../../consts';
---

<Basic>
  <article>
    <p class='text-neutral-500 dark:text-neutral-600'>
      The manual for {SITE_TITLE} is coming soon...
    </p>
  </article>
</Basic>
