---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_LANGUAGE, SITE_TITLE } from '../consts';

interface Props {
	title?: string;
	description?: string;
	created?: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang={SITE_LANGUAGE}>
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <main class='mx-auto max-w-4xl p-4'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
