---
import type { CollectionEntry } from 'astro:content';
import Basic from './Basic.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'log'>['data'];
const { title, description, created } = Astro.props;
---

<Basic title={title} description={description}>
  <article>
    <div class='prose'>
      <div class='title'>
        <FormattedDate date={created} />
        <h1>{title}</h1>
      </div>
      <slot />
    </div>
  </article>
</Basic>
