---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import TagInteractive from '../components/TagInteractive.astro';
import { lowercaseTitles } from '../consts';
import Basic from './Basic.astro';

type Props = CollectionEntry<'log'>['data'];
const { title, description, created, tags } = Astro.props;
---

<Basic title={title} description={description}>
  <article>
    <div class='flex flex-col gap-4'>
      <FormattedDate date={created} />
      <div class='flex flex-row flex-wrap gap-x-2'>
        {tags?.map((tag) => <TagInteractive name={tag} />)}
      </div>
      <h1 class='text-5xl font-bold break-words'>
        {lowercaseTitles ? title.toLowerCase() : title}
      </h1>
    </div>
    <slot />
  </article>
</Basic>
