---
import type { CollectionEntry } from 'astro:content';
import Basic from './Basic.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'log'>['data'];
const { title, description, created } = Astro.props;
---

<section>
  <slot />
</section>
